$sizes: (
  "16": 16px,
  "18": 18px,
  "22": 22px,
);
@each $key, $value in $sizes {
  .font-#{ $key } {
    font-size: $value;
    font-weight: 300;
  }
}
//編輯框外框
[contenteditable] {
  outline: 0px solid transparent;
}
.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 500;

  white-space: pre;
}
